<div id="header_component" class="tertiaryBgColor py-3">

  <div class="container">

    <!-- cabecera desktop -->
    <div class="row d-none d-lg-flex">

      <div class="col-2">
        <img *ngIf="islogged" class="pointer" src="assets/images/sello_boda_tertiaryTextColor.png"
          [routerLink]="['/home']">
        <img *ngIf="!islogged" src="assets/images/sello_boda_tertiaryTextColor.png">
      </div>

      <div class="col-10 d-flex flex-column justify-content-center" *ngIf="islogged">
        <div class="d-flex justify-content-between">
          <div class="nav-item" [routerLink]="['/nosotros']" [ngClass]="{'active-link': activeUrl=== '/nosotros'}">
            Nosotros
            <hr>
          </div>
          <div class="nav-item" [routerLink]="['/real-sitio']" [ngClass]="{'active-link': activeUrl==='/real-sitio'}">
            Real Sitio
            <hr>
          </div>
          <div class="nav-item" [routerLink]="['/palacio-carlos-iii']"
            [ngClass]="{'active-link': activeUrl==='/palacio-carlos-iii'}">Palacio Carlos III
            <hr>
          </div>
          <div class="nav-item" [routerLink]="['/alojamiento']" [ngClass]="{'active-link': activeUrl==='/alojamiento'}">
            Alojamiento
            <hr>
          </div>
          <div class="nav-item" [routerLink]="['/confirmar-asistencia']"
            [ngClass]="{'active-link': activeUrl==='/confirmar-asistencia'}">Confirmar Asistencia
            <hr>
          </div>
          <div class="nav-item" [routerLink]="['/contacto']" [ngClass]="{'active-link': activeUrl==='/contacto'}">
            Contacto y Lista de Bodas
            <hr>
          </div>
        </div>
      </div>

    </div>


    <!-- cabecera mobile -->
    <div class="row">
      <div class="col-12 d-block d-lg-none position-relative">
        <div (click)="isMenuCollapsed=!isMenuCollapsed" class="btn hamburger-button" *ngIf="islogged">|||</div>
        <img src="assets/images/sello_boda.png" class="logo" [routerLink]="['/home']" (click)="isMenuCollapsed=true">
        <div [ngClass]="{'isMenuCollapsed': isMenuCollapsed}" class="tertiaryBgColor mobile-nav">
          <div class="nav-item" [routerLink]="['/nosotros']" (click)="isMenuCollapsed=!isMenuCollapsed">Nosotros</div>
          <div class="nav-item" [routerLink]="['/real-sitio']" (click)="isMenuCollapsed=!isMenuCollapsed">Real Sitio</div>
          <div class="nav-item" [routerLink]="['/palacio-carlos-iii']" (click)="isMenuCollapsed=!isMenuCollapsed">Palacio Carlos III</div>
          <div class="nav-item" [routerLink]="['/alojamiento']" (click)="isMenuCollapsed=!isMenuCollapsed">Alojamiento</div>
          <div class="nav-item" [routerLink]="['/confirmar-asistencia']" (click)="isMenuCollapsed=!isMenuCollapsed">Confirmar Asistencia</div>
          <div class="nav-item" [routerLink]="['/contacto']" (click)="isMenuCollapsed=!isMenuCollapsed">Contacto y Lista de Bodas</div>
        </div>
      </div>
    </div>

  </div>
</div>
