<div id="footer_component" class="tertiaryBgColor py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">Hecho con amor por Alice y Antonio</div>
      <!-- <div class="col-lg-6"><a href="https://www.google.com/maps/place/Real+Colegiata+del+Palacio+de+la+Granja+de+San+Ildefonso/@40.8979432,-4.0049723,15z/data=!4m5!3m4!1s0x0:0x9974d4f4c041eb63!8m2!3d40.8979432!4d-4.0049723" target="_blank">12:30 Colegiata de la Granja de San Ildefonso</a></div> -->
    </div>
  </div>
</div>
