<div id="about-us-component">

    <div class="tertiaryBgColor">
        <div class="container">
            <div class="row py-4 pb-lg-5">
                <div class="col-12 text-center">
                    <h1>Nosotros.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="primaryBgColor">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/8.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">23 septiembre</h4>
                                        <div class="card-text">
                                            <p>Nos conocimos el día 23 de septiembre en 2016 y
                                                descubrimos que nos encanta el sushi.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/10.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Chamberi</h4>
                                        <div class="card-text">
                                            <p>Nos conocimos en Chamberi, nuestro barrio que nos acogió durante 3 años
                                                en Madrid.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/2.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Fiesta</h4>
                                        <div class="card-text">
                                            <p>Nos encanta salir de fiesta, aunque esperemos que este día sea la más
                                                especial.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/4.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Viajar</h4>
                                        <div class="card-text">
                                            <p> Viajar es una de las cosas que más nos gusta hacer juntos, explorar
                                                lugares que son nuevos para los dos, nos encanta!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/3.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Pedida</h4>
                                        <div class="card-text">
                                            <p>David decidió pedirme la mano en El Parque Nacional de Ordesa, concretamente en el Mirador de Ziarrazils. Desde aquí se tienen las mejores vistas del Valle de Ordesa y el Circo de Soaso.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/15.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Vacaciones</h4>
                                        <div class="card-text">
                                            <p>Los dos no somos nada de tomar el sol, así que nos compenetramos perfectamente en las vacaciones de verano.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/6.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Pandemia</h4>
                                        <div class="card-text">
                                            <p>La pandemia, como a todos, nos cambió la vida. Estuvimos más de 100 días separados pero con mucha ilusión de reencontrarnos cuando todo pasase.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/13.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Casa</h4>
                                        <div class="card-text">
                                            <p>Disfrutar de nuestra casa en este último año nos ha hecho crecer mucho como pareja
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/14.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Luna de miel</h4>
                                        <div class="card-text">
                                            <p>La luna de miel la disfrutaremos en Kenia y Maldivas.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/11.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">Domingos</h4>
                                        <div class="card-text">
                                            <p>Disfrutar de Una buena terracita al sol los domingos con nuestros amigos nos da toda la fuerza para empezar la semana.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/16.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">FALTA</h4>
                                        <div class="card-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quam consequuntur deserunt minus numquam quos dolores, ducimus exercitationem voluptate commodi ea nesciunt minima soluta blanditiis odit fugit rem eos id!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mt-4 mt-lg-5">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <img src="../../assets/images/nosotros/12.png">
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body p-lg-4 p-5 text-center mt-4 d-flex flex-column">
                                        <h4 class="card-title">FALTA</h4>
                                        <div class="card-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tempore repellat libero molestiae adipisci optio quam accusantium molestias ipsum unde, dolore deleniti nostrum illo! Non aut unde fugiat repellat accusantium!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
