<div id="login-component" class="container text-justify">

  <h2 class="pt-5">Bienvenido</h2>

  <p class="mt-4">
    ¡Aprovecha con nosotros el fin de semana de nuestra boda!
  </p>
  <p> 
    En esta página encontraréis información sobre hoteles y el entorno de La Granja, para los que queráis alargar el
    fin de semana. También iremos incorporando información útil sobre la boda y los posibles cambios que puedan surgir.
  </p>

  <form class="mt-5" [formGroup]="accessForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Clave de acceso</label>
      <input type="text" formControlName="password" class="form-control" id="password"
        placeholder="Introduce la clave de acceso">
      <p *ngIf="accessForm.errors?.incorrect">clave de acceso inválida</p>
    </div>
    <button type="submit" class="btn w-100 border-0 tertiaryBgColor primaryTextColor">Entrar</button>
  </form>

</div>