<div id="accommodation-component">

  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 pb-lg-5">
        <div class="col-12 text-center">
          <h1>Contacto y Lista de Bodas.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="primaryBgColor">
    <div class="container py-5">

      <div class="row">
        <div class="col-12">
          <div class='envelope'>
            <div class="position-absolute innerText">
              <p class="text-justify">
                Vuestra presencia en nuestra boda es el mejor regalo, pero si quieres ayudarnos a construir nuestra
                nueva etapa y con nuestro futuro viaje, aquí tenéis nuestro número de cuenta:
              </p>
              <p class="text-center font-weight-bold">ES65 3190 2082 2655 8263 0025</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-lg-6 mx-auto text-justify">
          <p>
            Si tenéis cualquier duda o sugerencia, podéis en poneros en contacto con nosotros:
          </p>
          <ul>
            <li>
              Telefono David: 697 706 684
            </li>
            <li>
              Teléfono Raquel: 679 848 502
            </li>
          </ul>
          <hr>
          <p>
            También podéis contactar con nuestras wedding planner:
          </p>
          <ul>
            <li>
              Telefono Pilar: 697 706 684
            </li>
            <li>
              Teléfono Victoria: 679 848 502
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>
