<div id="accommodation-component">

  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 pb-lg-5">
        <div class="col-12 text-center">
          <h1>Contacto y Lista de Bodas.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="primaryBgColor">
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <div class='envelope'>
            <div class="position-absolute innerText">
              <p class="text-justify">
                Vuestra presencia en nuestra boda es el mejor regalo, pero si quieres ayudarnos a construir nuestra nueva etapa y con nuestro futuro viaje, aquí tenéis nuestro número de cuenta:
              </p>
              <p class="text-center font-weight-bold">ES12 1234 4567 8910 1112</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
