<div id="real-sitio-component">

    <div class="tertiaryBgColor">
        <div class="container">
            <div class="row py-4 pb-lg-5">
                <div class="col-12 text-center">
                    <h1>Real Sitio.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="primaryBgColor">
        <div class="container py-5">
            <div class="row pb-5">
                <div class="col-12 text-center pb-3">
                    <h3>Real Colegiata del Palacio de la Granja de San Ildefonso</h3>
                    <img class="mainImage my-3" src="assets/images/colegiata.jpeg">
                </div>
                <div class="col-12 mx-auto text-justify">
                    <p><b>La ceremonia tendrá lugar en la Colegiata, a las 12:30h.</b></p>
                    <p>
                        La Real Colegiata fue construida por orden de <strong>Felipe V</strong>. El edificio original fue de Teodoro Ardemans quien inicialmente construyó una Capilla Real que poco después se erigió como Real Colegiata de la Santísima Trinidad. Interiormente destaca el <strong>retablo del altar mayor</strong>, obra de Teodoro Ardemans, ocupado por un gran cuadro al óleo que representa la Santísima Trinidad, obra de Francisco Solimena. También destacan la <strong>sillería del coro</strong> y la <strong>tribuna real</strong> que comunica con el Palacio Real, y que permitía a los Reyes asistir a las funciones religiosas.
                    </p>
                    <p>
                        El elemento más significativo de la Real Colegiata es la <strong>Capilla de las Reliquias</strong>, recibe este nombre porque inicialmente estaba destinada a guardar las reliquias de los santos mártires pero tras la muerte de Felipe V, en 1746, su viuda, Isabel de Farnesio, decidió levantar en aquel lugar un mausoleo, cumpliendo así con la voluntad del rey difunto. Actualmente yacen en este templo los cuerpos de Felipe V e Isabel de Farnesio.
                    </p>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-12 text-center pb-3">
                    <h3>Palacio Real de La Granja de San Ildefonso</h3>
                    <img class="mainImage my-3" src="assets/images/palacio_real.jpeg">
                </div>
                <div class="col-12 mx-auto text-justify">
                    <p> 
                        El Palacio Real de La Granja de San Ildefonso comenzó su construcción en 1721 bajo el reinado del rey <strong>Felipe V</strong>. 
                    </p>
                    <p>
                        El interior se decoró con gran suntuosidad, destaca el <strong>Museo de Tapices</strong>, ubicado en la antigua Casa de Damas, donde se exhibe una colección de tapices flamencos, de enorme tamaño y abigarrada iconografía, confeccionados en honor del rey Carlos I de España y Felipe II, la <strong>Galería de las Estatuas</strong> en la planta baja, el <strong>Salón del Trono</strong> o la <strong>Sala Japonesa</strong>, en la planta superior. 
                    </p>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-12 text-center pb-3">
                    <h3>Jardines del Palacio Real</h3>
                    <img class="mainImage my-3" src="assets/images/jardines.jpeg">
                </div>
                <div class="col-12 mx-auto text-justify">
                    <p> 
                        Los Jardines del Palacio Real ocupan una extensión de <strong>146 hectáreas</strong> divididas en bosque, jardines y partidas reservadas. Existen <strong>26 Fuentes Monumentales</strong>, todas ellas basadas en la mitología clásica. 
                    </p>
                    <p>
                        El abastecimiento de agua de las Fuentes procede de <strong>El Mar</strong>, un estanque ubicado en la parte alta de los Jardines que, mediante el sistema hidráulico del siglo XVIII, la <strong>presión del agua</strong> hace que se pueda disfrutar de los magníficos juegos de agua en diferentes épocas del año. 
                    </p>
                    <p>
                        Aprovechad y quedaros a ver las Fuentes Monumentales, se encienden pocas veces al año y el día 30 de mayo al ser San Fernando es uno de ellos, son a las 17:30hs. Se recomienda consultar el inicio de la temporada de funcionamiento de las Fuentes Monumentales en la página web de <a href="www.patrimonionacional.es">Patrimonio Nacional</a>.
                    </p>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-12 text-center pb-3">
                    <h3>Real Fábrica de Cristales de La Granja</h3>
                    <img class="mainImage my-3" src="assets/images/fabrica.jpeg">
                </div>
                <div class="col-12 mx-auto text-justify">
                    <p> 
                        El edificio es uno de los ejemplos más representativos de la <strong>arquitectura industrial del siglo XVIII</strong> a nivel europeo. Alberga en su interior distintas exposiciones temáticas sobre la tecnología del vidrio, con maquinaria, herramientas y demostración de la <strong>técnica del soplado en vivo</strong>, además de exposiciones temáticas sobre vidrieras del conocido taller Maumejean, Cristal de La Granja, vidrio centro europeo, vidrio de diseño y vidrio artístico contemporáneo.
                    </p>
                    <p>
                        Si queréis planear vuestra visita mejor, aquí tenéis la web de la <a href="https://www.turismorealsitiodesanildefonso.com">oficina de turismo</a>.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>