main {
  // tamaño header - tamaño footer - margin del footer
  min-height: calc(100vh - 90px - 55px);
}

.important-info{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: var(--quaternaryBgColor);
  color: var(--primaryTextColor);
  z-index: 100;
  animation: 1.5s pulse-anim infinite;
}

.button-confirm{
  border: 1px solid var(--tertiaryTextColor)
}

.modal-content{
  background-color: var(--primaryBgColor) !important;
}

@media screen and (max-width: 991px) {
  main {
    min-height: calc(100vh - 70px - 55px);
  }
}

.important-info:hover {
  animation: 1s pulse-anim infinite;
}

@keyframes pulse-anim {
  0% {
    box-shadow: var(--quaternaryBgColor) 0 0 0 0;
  }
  100% {
    box-shadow: #2198fa00 0 0 0 20px;
  }
}
