


<div id="confirm-component">

  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 pb-lg-5">
        <div class="col-12 text-center">
          <h1>Confirmar Asistencia.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="primaryBgColor">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 p-0 overflow-hidden">
          <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLScQlCUIUSPVb37Nfmla3y8Coe-88Rk8x4zkA9dSP5DGPLVM8g/viewform?embedded=true"
           frameborder="0" marginheight="0" marginwidth="0" name="my_iframe" id="my_iframe" class="iframe">Cargando…</iframe>
        </div>
      </div>
    </div>
  </div>
</div>
