.iframe {
  // margin-top: -160px;
  // overflow-x: hidden;
  height: 1850px;
  width: 100%;
}

.hide {
  width: 100%;
  background-color: var(--primaryBgColor);
  height: 50px;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 576px) {
  .iframe {
    height: 2000px;
  }
}
