<div id="accommodation-component">

    <div class="tertiaryBgColor">
        <div class="container">
            <div class="row py-4 pb-lg-5">
                <div class="col-12 text-center">
                    <h1>Alojamiento.</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="primaryBgColor">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 mx-auto pb-4 pb-lg-5">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/parador.jpg">
                        <div class="card-body">
                            <h3 class="card-title">Parador de turismo.</h3>
                            <div class="card-text">
                            <ul>
                                <li>Precio medio por noche (*): 130- 175€</li>
                                <li>Distancia a la iglesia: 650m </li>
                                <li>Teléfono de contacto: 921 010 750</li>
                                <li>Número de habitaciones: 127</li>
                            </ul>
                        </div>
                        <div class="text-center">

                            <a href="https://www.booking.com/hotel/es/parador-de-la-granja.es.html" target="_blank" class="btn primaryBgColor text-center">Reservar</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto pb-4 pb-lg-5">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/roma.jpg">
                        <div class="card-body">
                            <h3 class="card-title">Hotel Roma.</h3>
                            <div class="card-text">
                            <ul>
                                <li>Precio medio por noche (*): 75€-100€</li>
                                <li>Distancia a la iglesia: 550m</li>
                                <li>Teléfono de contacto: 921 470 752</li>
                                <li>Número de habitaciones: 16</li>
                            </ul>
                        </div>
                        <div class="text-center">

                            <a href="https://www.booking.com/hotel/es/roma-san-ildefonso.es.html" target="_blank" class="btn primaryBgColor text-center">Reservar</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mx-auto pb-4 pb-lg-5">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/isabel.jpg">
                        <div class="card-body">
                            <h3 class="card-title">Hotel Isabel de Farnesio.</h3>
                            <div class="card-text">
                            <ul>
                                <li>Precio medio por noche (*): 80€-150€</li>
                                <li>Distancia a la iglesia: 700m</li>
                                <li>Teléfono de contacto: 921 611 102</li>
                                <li>Número de habitaciones: 26</li>
                            </ul>
                        </div>
                        <div class="text-center">

                            <a href="https://www.booking.com/hotel/es/ar-isabel-de-farnesio.es.html" target="_blank" class="btn primaryBgColor text-center">Reservar</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto pb-4 pb-lg-5">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/san-luis.jpeg">
                        <div class="card-body">
                            <h3 class="card-title">Hotel San Luis.</h3>
                            <div class="card-text">
                            <ul>
                                <li>Precio medio por noche (*): 65€-80€</li>
                                <li>Distancia a la iglesia: 550m</li>
                                <li>Teléfono de contacto: 921 472 121</li>
                                <li>Número de habitaciones: 17</li>
                            </ul>
                        </div>
                        <div class="text-center">

                            <a href="https://www.hotelsanluis.com/" target="_blank" class="btn primaryBgColor text-center">Reservar</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            

            
        </div>
    </div>
</div>