/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root{
  /* paleta de colores */
  --primaryBgColor: #eeeddd;
  --secondaryBgColor: #9bb48a;
  --tertiaryBgColor: #80816a;
  --quaternaryBgColor: #45533f;

  --primaryTextColor: #eeeddd;
  --secondaryTextColor: #9bb48a;
  --tertiaryTextColor: #242c21;
  --quaternaryTextColor: #000000;
}


.primaryBgColor {
  background-color: var(--primaryBgColor);
}
.secondaryBgColor {
  background-color: var(--secondaryBgColor);
}
.tertiaryBgColor {
  background-color: var(--tertiaryBgColor);
}
.quaternaryBgColor {
  background-color: var(--quaternaryBgColor);
}

.primaryTextColor {
  color: var(--primaryTextColor);
}
.secondaryTextColor {
  color: var(--secondaryTextColor);
}
.tertiaryTextColor {
  color: var(--tertiaryTextColor);
}
.quaternaryTextColor {
  color: var(--quaternaryTextColor);
}


* {
  color: var(--tertiaryTextColor);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body{
  background-color: white;
}

h1, h2, h3, h4, h5, h6, b, strong{
  color: var(--tertiaryTextColor);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;}

h1{
  font-size: 30px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
}

p{
  margin-bottom: 0;
}
