<div id="home_component">

  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 d-none d-lg-flex">
        <div class="col-6 mx-auto text-center">
          <img class="logo" src="assets/images/sello_boda_tertiaryTextColor.png">
        </div>
      </div>

      <div class="row py-4">
        <div class="col-lg-8 mx-auto text-justify text-lg-center">
          <p class="mb-2">
            ¡Aprovecha con nosotros el fin de semana de <b>nuestra boda</b>!
          </p>
          <p>
            En esta página encontraréis información sobre hoteles y el entorno de <b>La Granja</b>, para los que queráis
            alargar el fin de semana. También iremos incorporando <b>información útil</b> sobre la boda y los posibles cambios
            que puedan surgir.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-5 mx-auto text-center">
          <img class="section-image pointer" [routerLink]="['/nosotros']" src="assets/images/nosotros.jpeg">
        </div>
        <div class="col-lg-6 mx-auto d-flex flex-column justify-content-center custom-text px-3 px-lg-5">
          <h2 class="mb-3 mb-lg-4">Nosotros.</h2>
          <p class="text-justify">De Madrid a Ciudad Real y La Granja, desde septiembre 2016 siguiendo juntos este camino.
            <a [routerLink]="['/nosotros']">Saber más.</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-5 flex-lg-row-reverse">
        <div class="col-lg-5 mx-auto text-center">
          <img class="section-image pointer" [routerLink]="['/real-sitio']" src="assets/images/real-sitio.jpeg">
        </div>
        <div class="col-lg-6 mx-auto d-flex flex-column justify-content-center custom-text px-3 px-lg-5">
          <h2 class="mb-3 mb-lg-4">Real Sitio.</h2>
          <p class="text-justify">No pierdas la oportunidad de visitar el Real Sitio de La Granja de San Ildefonso, aquí podrás encontrar los
            distintos lugares para visitar durante vuestra estancia.
            <a [routerLink]="['/real-sitio']">Saber más.</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-5 mx-auto text-center">
          <img class="section-image pointer" [routerLink]="['/palacio-carlos-iii']" src="assets/images/palacio-carlos-iii.jpeg">
        </div>
        <div class="col-lg-6 mx-auto d-flex flex-column justify-content-center custom-text px-3 px-lg-5">
          <h2 class="mb-3 mb-lg-4">Palacio Carlos III.</h2>
          <p class="text-justify">No hay boda sin convite, aquí podrás encontrar la información y la historia del Palacio Carlos III, donde
            tendrá lugar la celebración.
            <a [routerLink]="['/palacio-carlos-iii']">Saber más.</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-5 flex-lg-row-reverse">
        <div class="col-lg-5 mx-auto text-center">
          <img class="section-image pointer" [routerLink]="['/alojamiento']" src="assets/images/alojamientos.jpeg">
        </div>
        <div class="col-lg-6 mx-auto d-flex flex-column justify-content-center custom-text px-3 px-lg-5">
          <h2 class="mb-3 mb-lg-4">Alojamientos.</h2>
          <p class="text-justify">Para vuestro descanso, os dejamos una selección de hoteles para que tengáis la mejor estancia posible.
            <a [routerLink]="['/alojamiento']">Saber más.</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-5 mx-auto text-center">
          <img class="section-image pointer" [routerLink]="['/confirmar-asistencia']" src="assets/images/confirmar-asistencia.jpeg">
        </div>
        <div class="col-lg-6 mx-auto d-flex flex-column justify-content-center custom-text px-3 px-lg-5">
          <h2 class="mb-3 mb-lg-4">Confirmar Asistencia.</h2>
          <p class="text-justify">Pinchando aquí podréis rellenar este formulario para ayudarnos con la organización.
            <a [routerLink]="['/confirmar-asistencia']">Saber más.</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-5 flex-lg-row-reverse">
        <div class="col-lg-5 mx-auto text-center">
          <img class="section-image pointer" [routerLink]="['/contacto']" src="assets/images/contacto.jpeg">
        </div>
        <div class="col-lg-6 mx-auto d-flex flex-column justify-content-center custom-text px-3 px-lg-5">
          <h2 class="mb-3 mb-lg-4">Contacto y lista de bodas.</h2>
          <p class="text-justify">Si tenéis cualquier duda o sugerencia, podéis en poneros en contacto con nosotros.
            <a [routerLink]="['/contacto']">Saber más.</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
