<div id="home_component">

  <div class="secondaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-6 mx-auto text-center">
          <img class="logo" src="../../assets/images/sello_boda.png">
        </div>
      </div>

      <div class="row py-4">
        <div class="col-8 mx-auto">
          <p class="text-center">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit obcaecati totam repellendus possimus nesciunt,
            fugiat iure reiciendis nam, magnam, assumenda excepturi accusantium sit similique aliquid in modi ducimus!
            Nulla,
            dignissimos.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-6 col-10 text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="secondaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-6 col-10">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus iure veniam animi pariatur itaque, commodi,
          voluptas et saepe dolorem eum nulla sunt nostrum fugit ipsam quo. Aliquam exercitationem aliquid excepturi.
        </div>
        <div class="col-lg-6 col-10 text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
      </div>
    </div>
  </div>

  <div class="row py-4"></div>
  <div class="row py-4"></div>
  <div class="row py-4"></div>
  <div class="row py-4"></div>
</div>
