<div id="home_component">

  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-6 mx-auto text-center">
          <img class="logo" src="../../assets/images/sello_boda_tertiaryTextColor.png">
        </div>
      </div>

      <div class="row pt-4 pb-5">
        <div class="col-8 mx-auto">
          <p class="text-center mb-2">
            ¡Aprovecha con nosotros el fin de semana de nuestra boda!
          </p>
          <p class="text-center">
            En esta página encontraréis información sobre hoteles y el entorno de La Granja, para los que queráis alargar el fin de semana. También iremos incorporando información útil sobre la boda y los posibles cambios que puedan surgir. 
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-6 col-10 mx-auto text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10 mx-auto py-4 text-justify d-flex flex-column justify-content-center custom-text">
          <h2>nosotros.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 flex-lg-row-reverse">
        <div class="col-lg-6 col-10 mx-auto text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10 mx-auto py-4 text-justify">
          <h2>real sitio.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-6 col-10 mx-auto text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10 mx-auto py-4 text-justify">
          <h2>palacio Carlos III.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 flex-lg-row-reverse">
        <div class="col-lg-6 col-10 mx-auto text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10 mx-auto py-4 text-justify">
          <h2>alojamiento.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="primaryBgColor">
    <div class="container">
      <div class="row py-4">
        <div class="col-lg-6 col-10 mx-auto text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10 mx-auto py-4 text-justify">
          <h2>confirmar asistencia.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="tertiaryBgColor">
    <div class="container">
      <div class="row py-4 flex-lg-row-reverse">
        <div class="col-lg-6 col-10 mx-auto text-center">
          <img class="section-image" src="../../assets/images/sello_boda.png">
        </div>
        <div class="col-lg-6 col-10 mx-auto py-4 text-justify">
          <h2>contacto.</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex animi officia neque beatae laborum
            quisquam voluptatem iste et omnis corrupti error ducimus magni, nobis voluptatibus quidem quis. Aliquid,
            alias.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
